<html>

<head>
    <title>SWAG QUIZ</title>
    <link rel="stylesheet" type="text/css" href="css/quiz.css">
        <script type="text/javascript" src='js/jquery.js'></script>
        <script type="text/javascript" src='js/jquery.serialize-object.min.js'></script>
        <script src="js/scripts3.js"></script>

</head>

<body>

<div id='maker'>
    <h1>
        CREATE QUIZ
    </h1>
</div>




    
</body>
</html>